//
// Typography
//
// stylelint-disable primer/selector-no-utility, primer/no-override, selector-no-type, selector-max-type

$callouts: (
    info: ($blue-300, rgba($blue-000, .2), 'INFO'),
    warn: ($blue-300, rgba($blue-000, .2), 'WARNING'),
    danger: ($red-300, rgba($red-000, .2), 'DANGER'),
    quote: ($blue-300, rgba($blue-000, .2), 'QUOTE'),
    sample: ($blue-300, rgba($blue-000, .2), 'SAMPLE')
);

@each $class, $props in $callouts {
    .#{$class} {
        background: nth($props, 2);
        border-left: $border-radius solid nth($props, 1);
        border-radius: $border-radius;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
        padding: .8rem;

        &::before {
            color: nth($props, 1);
            content: nth($props, 3);
            display: block;
            font-weight: bold;
            font-size: .75em;
            padding-bottom: .125rem;
        }
    }
}

.code-block {
  border-left: $border-radius solid $grey-dk-000;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: .8rem;

}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-Regular.ttf");
}

ul, ol, li {
  text-align: left !important;
}

* {
  font-family: "SpaceGrotesk";
  text-align: justify;
}

h1,
.text-alpha {
  @include fs-8;
  font-weight: 300;
}

h2,
.text-beta {
  @include fs-6;
}

h3,
.text-gamma {
  @include fs-5;
}

h4,
.text-delta {
  @include fs-2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h4 code {
  text-transform: none;
}

h5,
.text-epsilon {
  @include fs-3;
  color: $grey-dk-200;
}

h6,
.text-zeta {
  @include fs-2;
  color: $grey-dk-200;
}

.text-small {
  @include fs-2;
}

.text-mono {
  font-family: $mono-font-family !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}
